generated/openapi/wsdl-schema/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schemas="http://localhost/soap/ServiceV1/model" xmlns:wsdl="http://localhost/soap/ServiceV1/service" targetNamespace="http://localhost/soap/ServiceV1/service" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns:tns="http://localhost/soap/ServiceV1/model" targetNamespace="http://localhost/soap/ServiceV1/model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:complexType name="Clipboard">
        <xs:sequence>
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
          <xs:element minOccurs="0" name="data" type="schemas:ClipboardPayload" />
          <xs:element minOccurs="1" name="id">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Identifies the event.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="specversion">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The version of the CloudEvents specification which the event uses.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="datacontenttype">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Content type of the data value. Must adhere to RFC 2046 format.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dataschema">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Identifies the schema that data adheres to.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="subject" type="xs:string" />
          <xs:element minOccurs="0" name="time">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Timestamp of when the occurrence happened. Must adhere to RFC 3339.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:long">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="data_base64" type="xs:string">
            <xs:annotation>
              <xs:documentation>Base64 encoded event payload. Must adhere to RFC4648.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ClipboardPayload">
        <xs:sequence>
          <xs:element minOccurs="2" maxOccurs="2" name="start" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Starting position of clipboard selection [x,y]</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="2" maxOccurs="2" name="stop" type="xs:integer">
            <xs:annotation>
              <xs:documentation>Ending position of clipboard selection [x,y]</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="data">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Clipboard data</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="type" type="schemas:Type">
            <xs:annotation>
              <xs:documentation>Clipboard type</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="context" type="schemas:ClipboardPayload_context" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ClipboardPayloadContext">
        <xs:annotation>
          <xs:documentation>Selection context</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="0" name="window" type="xs:string">
            <xs:annotation>
              <xs:documentation>window id</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CloudEvent">
        <xs:annotation>
          <xs:documentation>CloudEvents Specification JSON Schema</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element minOccurs="1" name="id">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Identifies the event.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="source">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Identifies the context in which an event happened.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="specversion">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The version of the CloudEvents specification which the event uses.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="type">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Describes the type of event related to the originating occurrence.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="datacontenttype">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Content type of the data value. Must adhere to RFC 2046 format.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dataschema">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Identifies the schema that data adheres to.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="subject">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Describes the subject of the event in the context of the event producer (identified by source).</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="time">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Timestamp of when the occurrence happened. Must adhere to RFC 3339.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:long">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="data" type="schemas:CloudEvent_data" />
          <xs:element minOccurs="0" name="data_base64" type="xs:string">
            <xs:annotation>
              <xs:documentation>Base64 encoded event payload. Must adhere to RFC4648.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CloudEventData">
        <xs:annotation>
          <xs:documentation>The event payload.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="IoDocument">
        <xs:sequence>
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="source" type="xs:string" />
          <xs:element minOccurs="0" name="data" type="xs:TmuxPaneIoDocument" />
          <xs:element minOccurs="1" name="id">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Identifies the event.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="specversion">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>The version of the CloudEvents specification which the event uses.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="datacontenttype">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Content type of the data value. Must adhere to RFC 2046 format.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="dataschema">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Identifies the schema that data adheres to.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" default="IoDocument" name="subject" type="xs:string" />
          <xs:element minOccurs="0" name="time">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Timestamp of when the occurrence happened. Must adhere to RFC 3339.</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:long">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="data_base64" type="xs:string">
            <xs:annotation>
              <xs:documentation>Base64 encoded event payload. Must adhere to RFC4648.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TmuxPaneIoDocument">
        <xs:sequence>
          <xs:element minOccurs="1" name="input">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>User input</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="output">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>Command output (mix of stdout &amp; stderr)</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="0" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="1" name="ps1">
            <xs:simpleType>
              <xs:annotation>
                <xs:documentation>ps1 (prompt) AFTER the input and output</xs:documentation>
              </xs:annotation>
              <xs:restriction base="xs:string">
                <xs:minLength value="1" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:simpleType name="Type">
        <xs:annotation>
          <xs:documentation>Clipboard type</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
          <xs:enumeration value="primary" />
          <xs:enumeration value="secondary" />
          <xs:enumeration value="clipboard" />
        </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="CloudEvent_data">
        <xs:annotation>
          <xs:documentation>The event payload.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyOf&lt;string,number,boolean&gt;">
        </xs:restriction>
      </xs:simpleType>
    </xs:schema>
  </types>
  <portType name="ServiceV1_PortType">
  </portType>
  <binding name="ServiceV1_Binding" type="wsdl:ServiceV1_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
  </binding>
  <service name="ServiceV1">
    <documentation>This document describes the documentation, a collection of JSON schemas and example cloudevent and payloads</documentation>
    <port name="default_Port" binding="wsdl:ServiceV1_Binding">
      <soap:address location="http://localhost/soap/ServiceV1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>